<div style="display: none"><%= _id %></div>
<div class="input-group mb-3 d-flex justify-content-end">
  <div style="text-align: right; background-color: lightblue ;" type="text" class="form-control message" disabled="true">
    <p><%= message %></p>
  </div>
</div>
