<div style="display: none"><%= _id %></div>
<div class="input-group mb-3">
  <div type="text" class="form-control reply" disabled="true">
    <p><%= creator.username %> : <%= message %></p>
  </div>
</div>
